body {
    background-color: cadetblue;
}

h1 {
    background-color: brown;
}

th {
    border: 3px solid brown;
}

td {
    border: 2px solid palevioletred;
}

footer {
    color: antiquewhite;
    height: 60px;
    width: 100%;
    background-color: palevioletred;
    text-align: center;
    font-size: xx-large;
}